{{define "home"}}
<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }} - {{ .Version }}</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/piggy.css">
    <script src="/scripts/combobox.js"></script>
    <script src="/scripts/div.js"></script>
    <script src="/scripts/image.js"></script>
    <script src="/scripts/input.js"></script>
    <script src="/scripts/label.js"></script>
    <script src="/scripts/request.js"></script>
    <script src="/scripts/table.js"></script>
</head>
<body>
    <div id="head-banner">
        <a href="/"><img id="icon" src="/images/icn_piggy.png" /></a>
        <div class="prev-month" onclick="goToPreviousMonth()"></div>
        <label id="month"></label>
        <div class="next-month" onclick="goToNextMonth()"></div>
        <label id="total">{{ .Total }}</label>
        <div id="buttons">
            <a id="report" download="report.xlsx"><img class="button" src="/images/btn_download.png"></a>
            <a id="edit" title="{{ .EditMode }}"><img class="button" src="/images/btn_edit.png"></a>
            <a id="settings" href="/settings"><img class="button" src="/images/btn_settings.png"></a>
        </div>
    </div>
    <div id="edit-operation-modal" class="modal-background">
        <div class="modal-content">
            <span class="modal" onclick="closeEditionModal()">&times;</span>
            <label id="modal-title">{{ .EditOperationTitle }}</label>
            <div>
                <table id="modal-table">
                    <tr>
                        <th>{{ .Category }}</th>
                        <td><select id="edit-operation-category" /></td>
                    </tr>
                    <tr>
                        <th>{{ .Date }}</th>
                        <td><input type="date" id="edit-operation-date"></td>
                    </tr>
                    <tr>
                        <th>{{ .Description }}</th>
                        <td><input id="edit-operation-desc" maxlength="25"></td>
                    </tr>
                    <tr>
                        <th>{{ .Amount }}</th>
                        <td>
                            <input type="number" id="edit-operation-amount">
                            <input type="checkbox" id="amount-type">
                            <label>{{ .AmountType }}</label>
                        </td>
                    </tr>
                </table>
                <button id="modal-ok-button" onclick="updateOperation()">OK</button>
            </div>
        </div>
    </div>
    <input id="search-bar" placeholder="{{ .Search }}" autofocus />
    <script src="/scripts/piggy.js"></script>
    <table id="main-table">
        <thead>
            <tr>
                <th class="table-header" onclick="sortTable(0)">{{ .Category }}</th>
                <th class="table-header" onclick="sortTable(1)">{{ .Date }}</th>
                <th class="table-header" onclick="sortTable(2)">{{ .Description }}</th>
                <th class="table-header" onclick="sortTable(3)">{{ .Amount }}</th>
                <th class="table-header" onclick="sortTable(4)">{{ .CreationDate }}</th>
            </tr>
        </thead>
        <tbody id="main-table-body" />
    </table>
    <script>
        const date = new Date();
        const mainTableBody = document.getElementById('main-table-body');
        const edit = document.getElementById('edit');
        const report = document.getElementById('report');
        const monthLabel = document.getElementById('month');
        const totalLabel = document.getElementById('total');
        const modal = document.getElementById('edit-operation-modal');
        const checkbox = document.getElementById('amount-type');
        const totalTitle = totalLabel.innerHTML;

        let index = 0;
        let total = 0;
        let table = new Table();

        // Edition modal
        let currentOperation = null;
        const editOperationCategoryId = 'edit-operation-category';
        const editOperationDateId = 'edit-operation-date';
        const editOperationDescId = 'edit-operation-desc';
        const editOperationAmountId = 'edit-operation-amount';
        const editOperationCategoryCell = document.getElementById(editOperationCategoryId);
        const editOperationDateCell = document.getElementById(editOperationDateId);
        const editOperationDescCell = document.getElementById(editOperationDescId);
        const editOperationAmountCell = document.getElementById(editOperationAmountId);

        function sortTable(column) {
            index = 0;
            table.sortBy(column);
            refresh();
        }

        function formatDateCell(dt) {
            return ('0' + dt.getDate()).slice(-2) + '/'
                + ('0' + (dt.getMonth() + 1)).slice(-2) + '/'
                + dt.getFullYear();
        }

        function addRow(item) {
            const row = mainTableBody.insertRow();
            const categoryCell = row.insertCell(0);
            const dateCell = row.insertCell(1);
            const descriptionCell = row.insertCell(2);
            const amountCell = row.insertCell(3);
            const creationDateCell = row.insertCell(4);

            if (item.operation.category != 0 && table.categories[item.operation.category]) {
                const categoryIcon = table.categories[item.operation.category].icon;
                const categoryName = table.categories[item.operation.category].name || '';
                categoryCell.innerHTML = new Div([
                    new Div([new Image(categoryIcon, 'category-icon', new Size(29, 29)).toHTML()], 'category-icon-container').toHTML(),
                    new Div([new Label(categoryName, 'cell-content').toHTML()], 'category-name-container').toHTML(),
                ]).toHTML();
            } else {
                categoryCell.innerHTML = new Label('', 'cell-content').toHTML();
            }
            dateCell.innerHTML = new Label(formatDateCell(item.operation.date), 'cell-content').toHTML();
            descriptionCell.innerHTML = new Label(item.operation.description, 'cell-content').toHTML();
            amountCell.innerHTML = (item.operation.amount >= 0)
                ? new Label('+' + item.operation.amount.toFixed(2) + '€', 'positive-amount-cell-content').toHTML()
                : new Label(item.operation.amount.toFixed(2) + '€', 'negative-amount-cell-content').toHTML();

            creationDateCell.innerHTML = new Div([
                new Label(formatDateCell(item.operation.creation_date), 'cell-content').toHTML(),
                new HiddenImageInput('/images/icn_edit.png', 'openEditionModal('+index+')', '{{ .EditOperationTooltip }}', 'editItem'+index).toHTML()
            ]).toHTML();
            const editImageInput = document.getElementById('editItem'+index);
            
            row.addEventListener("mouseover", () => {
                editImageInput.style.visibility = 'visible';
            });
            row.addEventListener("mouseout", () => {
                editImageInput.style.visibility = 'hidden';
            });
            index++;
        }

        function openEditionModal(idx) {
            const item = table.items[idx];
            currentOperation = item.operation;
            editOperationCategoryCell.innerHTML = new ComboBox(editOperationCategoryId, 'category-select', table.categories.map(c => c.name), currentOperation.category).toHTML();
            editOperationDateCell.value = formatDateSelectorContent(currentOperation.date);
            editOperationDescCell.value = currentOperation.description;
            editOperationAmountCell.value = currentOperation.amount;
            if (currentOperation.amount < 0) {
                checkbox.checked = true;
            }
            modal.style.display = 'block';
        }

        function closeEditionModal() {
            modal.style.display = 'none';
        }

        async function updateOperation() {
            currentOperation.amount = parseFloat(editOperationAmountCell.value);
            // /!\ TODO - STOP USING selectedIndex to find a category
            currentOperation.category = editOperationCategoryCell.selectedIndex;
            currentOperation.description = editOperationDescCell.value;
            currentOperation.date = new Date(editOperationDateCell.value).toISOString();
            if (checkbox.checked && currentOperation.amount > 0) {
                currentOperation.amount = -currentOperation.amount;
            }
            new HttpRequest('PUT', '/operations')
                .onError(r => {
                    throw new Error('(PUT', '/operations) Error: ' + r);
                })
                .onSuccess(_ => {
                    closeEditionModal();
                    currentOperation = null;
                    loadPage();
                })
                .send(JSON.stringify([currentOperation]));
        }

        async function onOperationsLoaded() {
            total = 0;
            if (table.items && table.items.length > 0) {
                total = table.items
                    .map(it => it.operation.amount)
                    .reduce((x, y) => x + y);
            }
            const amount = total.toFixed(2);
            totalLabel.innerHTML = (total >= 0)
                ? new Label(totalTitle + ' +' + amount + '€').toHTML()
                : new Label(totalTitle + ' ' + amount + '€').toHTML();
        }

        async function init() {
            searchBar.value = '';
            loadPage();
            report.href = '/reports?year=' + date.getFullYear() + '&month=' + (date.getMonth()+1);
            edit.href = '/edit?year=' + date.getFullYear() + '&month=' + (date.getMonth()+1);
        }

        init();

        function goToPreviousMonth() {
            date.setMonth(date.getMonth()-1);
            init();
        }

        function goToNextMonth() {
            date.setMonth(date.getMonth()+1);
            init();
        }

        document.addEventListener('keydown', e => {
            switch (e.key) {
            case 'PageDown': 
                goToPreviousMonth();
                break;
            case 'PageUp': 
                goToNextMonth();
                break;
            }
        });

        document.body.addEventListener('keydown', function(e) {
            if (e.key == "Escape") {
                closeEditionModal();
            }
        });
    </script>
</body>
</html>
{{end}}