#new-category-button {
    position: relative;
    float: right;
}

#new-category-name {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.category-select {
    position: relative;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    width: 120px;
    border-radius: 3px;
    border: 1px solid #000;
}

.date-select {
    font-family: Helvetica, sans-serif;
    border: 1px solid #000;
    border-radius: 3px;
}

.desc-select {
    font-family: Helvetica, sans-serif;
    width: 100%;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.action-button {
    padding: 0px 5px;
    float: center;
}